<main class="press-release" id="announcement">
  <section class="container">
    <h2>Burnout System</h2>
    <p class="subtitle">Navegue em mundo cibernético com o lançamento de: "Burnout System"</p>
    <p>
      Brasil, <time datetime="2023-10-28 00:00">28/10/2023</time> - A espera finalmente acabou para os entusiastas de jogos cibernéticos de todo o mundo.
      Hoje, a <a href="https://eliascmurat.vercel.app/home">isLink</a> tem o orgulho de anunciar o lançamento oficial de
      "Burnout System", um jogo que traz consigo uma mistura de elementos de ação e aventura com quebra-cabeças, para
      apreciadores de jogos em plataforma 2D Side-scroller. Com influência na estética visual cyberpunk, Burnout System,
      apresenta um universo composto por animais inteligentes que vivem em uma cidade futurística e nela está o nosso
      protagonista, uma capivara que está prestes a começar a sua jornada.
    </p>
  </section>
  <section class="container">
    <h3>Jogabilidade</h3>
    <p>
      Burnout System, possui uma mecânica simples de aprender, mas, difícil de dominar,
      que será aproveitada ao decorrer da história, onde jogador deve enfrentar inimigos
      desafiadores, explorar os mapas e resolver quebra-cabeças, enquanto descobre os
      mistérios escondidos da sociedade.
    </p>
    <p>
      A jogabilidade é aprimorada por gráficos em arte 2D, juntamente,
      com uma trilha sonora envolvente e nostálgica.
    </p>
    <br>
    <p>Confira algumas características:</p>
    <ul>
      <li>Lute contra diferentes inimigos e chefões;</li>
      <li>Explore diferentes mapas e descubra segredos;</li>
      <li>Resolva quebra-cabeças e ganhe conquistas;</li>
      <li>Compre diversos itens para ajudar na sua jornada;</li>
      <li>Tome decisões e mude o rumo da história;</li>
      <li>Aprenda sobre os Ataques Hacker mais comuns;</li>
      <li>Aprenda sobre a Síndrome de Burnout;</li>
      <li>Capivaras.</li>
    </ul>
  </section>
  <section class="container">
    <h3>História</h3>
    <p>
      No jogo, você controla uma capivara que vive em uma cidade futurística, onde teve que estudar dia após dia para
      conseguir uma oportunidade na área de segurança da informação, porém, as coisas não são tão boas quanto esperava.
    </p>
    <p>
      A empresa (XPotato) em que tanto sonhou em trabalhar se tornou o seu pesadelo, desanimado e sobrecarregado pelo excesso
      de trabalho, se vê numa situação desesperadora, precisando de dinheiro para pagar as suas dívidas e sem energia para
      continuar a trabalhar, no entendo, se depara com uma oportunidade de ouro.
    </p>
    <p>
      O maior hacker de todos os tempos, foi pego e condenado por invadir o sistema da maior corporação do mundo, a mesma
      empresa que o nosso protagonista trabalha, revelando informações secretas de projetos que valem bilhões de dólares, esse
      projeto não é nada mais do que o código-fonte de uma inteligência artificial que estava sendo treinada para ser uma arma
      militar, que poderia causar danos em massa.
    </p>
    <p>
      Mas antes de ser preso, ele revela ao mundo que escondeu parte das informações em um jogo online chamado "Fall for Fun".
      Para acessar o jogo, as pessoas precisam usar um dispositivo de conexão neural, mas correm o risco de perder a vida real
      se falharem.
    </p>
    <p>
      Com esse acontecimento, XPotato, começou a enviar profissionais para recuperar e proteger as informações. Outras
      empresas concorrentes firmaram contratos com hackers do submundo para obterem o resto das informações. Criminosos também
      foram atraídos, pois poderiam cometer crimes naquele ambiente virtual sem sofrer as penalidades. Isso deu início a uma
      guerra virtual que marcaria a história.
    </p>
    <p>
      A partir daí começa a história do nosso protagonista, onde vai se aventurar e resolver quebra-cabeças para recuperar
      essas informações roubadas, tendo que tomar decisões que podem mudar o rumo da história.
    </p>
  </section>
  <section class="container">
    <h3>Objetivo do desenvolvedor</h3>
    <p>
      Este jogo foi desenvolvido para unir diversão e aprendizado, servindo como uma ferramenta inovadora para
      disseminar conhecimento sobre segurança da informação e saúde mental.
    </p>
    <p>
      Seu foco está em familiarizar os jogadores com os ataques hackers mais frequentes, tais como: malwares,
      vulnerabilidades e brechas na segurança, entre outros. Além disso, propicia uma reflexão a respeito da
      Síndrome de Burnout, fornecendo orientações sobre como identificá-la e preveni-la.
    </p>
    <p>
      Portanto, este jogo não só entretém, mas também tenta, por meio da gamificação, transmitir conhecimentos e
      reforçar a importância dos profissionais de suas respectivas áreas atuação.
    </p>
  </section>
  <section class="container">
    <h3>Avisos importantes</h3>
    <p>
      Antes de começar a jogar, é importante ressaltar que o desenvolvedor deste jogo <b>NÃO</b> possui formação
      acadêmica nas áreas de segurança da informação ou psicologia. Os conteúdos abordados no jogo foram obtidos por
      meio de estudos autodidatas e pesquisas realizadas por ele, com o intuito de fornecer informações úteis e
      conscientizar os jogadores sobre temas relevantes
    </p>
    <p>
      Embora tenham sido realizados esforços para garantir a precisão das informações, é fundamental lembrar que este
      jogo <b>NÃO</b> substitui a consulta a profissionais especializados em cada área. Portanto, é recomendado sempre
      a buscar por orientação qualificada de proficionais da área.
    </p>
  </section>
</main>
