<main class="home" id="about">
  <section class="container" id="introduction">
    <div class="sub-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/265OtA2yTXc?si=y6B_XBrreVaONVE5" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="sub-container">
      <h2>Burnout System</h2>
      <p>Um jogo de ação e aventura com elementos de quebra-cabeça, que se passa em um universo composto por animais inteligentes que vivem numa cidade futurística.</p>
      <p>
        O jogador assume o papel de uma capivara que trabalha como técnico em segurança da informação. Seu objetivo é recuperar informações roubadas da empresa em que trabalha, porém, a
        tarefa não será fácil, pois, o hacker escondeu as informações em um jogo e para acessar deverá usar um dispositivo de
        conexão neural, mas, arrisca morrer se falharem.
      </p>
      <br>
      <br>
      <p>Gênero: Ação, Aventura, Quebra-Cabeça.</p>
    </div>
  </section>
  <section class="container">
    <div class="sub-container" id="characteristics">
      <p>
        Burnout System, possui uma mecânica simples de aprender, mas, difícil de dominar,
        que será aproveitada ao decorrer da história, onde jogador deve enfrentar inimigos
        desafiadores, explorar os mapas e resolver quebra-cabeças, enquanto descobre os
        mistérios escondidos da sociedade.
      </p>
      <p>
        A jogabilidade é aprimorada por gráficos em arte 2D, juntamente,
        com uma trilha sonora envolvente e nostálgica.
      </p>
      <br>
      <p>Motivos para jogar:</p>
      <ul>
        <li>Aprenda sobre os Ataques Hacker mais comuns;</li>
        <li>Aprenda sobre a Síndrome de Burnout;</li>
        <li>Capivaras.</li>
      </ul>
    </div>
    <div class="sub-container">
      <app-slide></app-slide>
    </div>
  </section>
  <div class="overlay">
    <section class="container" id="made-with">
        <h3>Feito com:</h3>
        <div class="wrapper">
          <div class="sub-container">
            <a href="https://unity.com/pt" target="_blank" style="text-decoration: none">
              <img src="./assets/unity.png" alt="Unity">
              <h4>Unity</h4>
            </a>
          </div>
          <div class="sub-container">
            <a href="https://www.jetbrains.com/pt-br/" target="_blank" style="text-decoration: none">
              <img src="./assets/rider.png" alt="Rider">
              <h4>Rider</h4>
            </a>
          </div>
          <div class="sub-container">
            <a href="https://www.aseprite.org/" target="_blank" style="text-decoration: none">
              <img src="./assets/aseprite.png" alt="Aseprite">
              <h4>Aseprite</h4>
            </a>
          </div>
        </div>
    </section>
  </div>
  <section class="container" id="team">
    <div class="dev">
      <a href="https://eliascmurat.vercel.app/home" target="_blank" style="text-decoration: none;">
        <img src="./assets/dev.webp" alt="Elias Murat">
        <h3>Elias Murat</h3>
      </a>
      <p>
        Eu sou Elias Murat, tenho 20 anos, sou desenvolvedor e estou na área de programação há quase 6 anos, sempre
        animado para aprender novas tecnologias e superar meus limites, enfrentando desafios com muita determinação.
      </p>
    </div>
    <div class="container">
      <div class="sub-container">
        <h4>Objetivo do desenvolvedor</h4>
        <p>
          Este jogo foi desenvolvido para unir diversão e aprendizado, servindo como uma ferramenta inovadora para
          disseminar conhecimento sobre segurança da informação e saúde mental.
        </p>
        <p>
          Seu foco está em familiarizar os jogadores com os ataques hackers mais frequentes, tais como: malwares,
          vulnerabilidades e brechas na segurança, entre outros. Além disso, propicia uma reflexão a respeito da
          Síndrome de Burnout, fornecendo orientações sobre como identificá-la e preveni-la.
        </p>
        <p>
          Portanto, este jogo não só entretém, mas também tenta, por meio da gamificação, transmitir conhecimentos e
          reforçar a importância dos profissionais de suas respectivas áreas atuação.
        </p>
      </div>
      <div class="sub-container">
        <h4>Avisos importantes</h4>
        <p>
          Antes de começar a jogar, é importante ressaltar que o desenvolvedor deste jogo <b>NÃO</b> possui formação
          acadêmica nas áreas de segurança da informação ou psicologia. Os conteúdos abordados no jogo foram obtidos por
          meio de estudos autodidatas e pesquisas realizadas por ele, com o intuito de fornecer informações úteis e
          conscientizar os jogadores sobre temas relevantes
        </p>
        <p>
          Embora tenham sido realizados esforços para garantir a precisão das informações, é fundamental lembrar que este
          jogo <b>NÃO</b> substitui a consulta a profissionais especializados em cada área. Portanto, é recomendado sempre
          a buscar por orientação qualificada de proficionais da área.
        </p>
      </div>
    </div>
    <p>Divirta-se e aproveite a jornada de aprendizado!</p>
  </section>
</main>
