<main class="home" id="about">
  <section class="container">
    <div class="s50">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/265OtA2yTXc?si=y6B_XBrreVaONVE5" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="s50">
      <h2>Burnout System</h2>
      <p>Um jogo de ação e aventura com elementos de quebra-cabeça, que se passa em um universo composto por animais inteligentes que vivem numa cidade futurística.</p>
      <p>
        O jogador assume o papel de uma capivara que trabalha como técnico em segurança da informação. Seu objetivo é recuperar informações roubadas da empresa em que trabalha, porém, a
        tarefa não será fácil, pois, o hacker escondeu as informações em um jogo e para acessar deverá usar um dispositivo de
        conexão neural, mas, arrisca morrer se falharem.
      </p>
      <p>Gênero: Ação, Aventura, Quebra-Cabeça.</p>
    </div>
  </section>
  <section class="container">
    <div class="s50">
      <p>
        Burnout System, possui uma mecânica simples de aprender, mas, difícil de dominar,
        que será aproveitada ao decorrer da história, onde jogador deve enfrentar inimigos
        desafiadores, explorar os mapas e resolver quebra-cabeças, enquanto descobre os
        mistérios escondidos da sociedade.
      </p>
      <p>
        A jogabilidade é aprimorada por gráficos em arte 2D, juntamente,
        com uma trilha sonora envolvente e nostálgica.
      </p>
      <p>Motivos para jogar:</p>
      <ul>
        <li>Aprenda sobre os Ataques Hacker mais comuns;</li>
        <li>Aprenda sobre a Síndrome de Burnout;</li>
        <li>Capivaras.</li>
      </ul>
    </div>
    <div class="s50">
      <app-slide></app-slide>
    </div>
  </section>
</main>
