.home {
  background-image: linear-gradient(#000, var(--background-primary), var(--background-secondary));
  padding: 70px 0 0 0;
}

.home iframe {
  max-width: 630px;
  height: 360px;
  width: 100%;
  border: none;
}

.home h2,
.home p {
  text-align: left;
}

.home h2 {
  margin-bottom: 0.7rem;
  font-family: 'Black Ops One', cursive;
}

.home p {
  padding: 0.3rem 0 ;
}

.home .s50 {
  padding: 30px 0;
}

.home li {
  margin-left: 25px;
  padding: 0.3rem 0;
  list-style-type: square;
  color: var(--foreground-secondary);
  font-weight: normal;
}

.home #made-with {
  display: block;
  text-align: center;
  padding: 30px 70px;
  background-image: url('https://wallpapers.com/images/hd/cyberpunk-pixel-art-1920-x-1080-m6v3xt8yxwicsbi5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home .overlay {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 10;
}

.home .overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.home #made-with .wrapper {
  display: flex;
  flex-direction: row;
}

.home #made-with .wrapper .sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

.home #made-with h3,
.home #made-with h4 {
  padding-top: 1.3rem;
  position: relative;
  z-index: 999;
}

.home #made-with h4 {
  color: var(--foreground-secondary);
}

.home #made-with img {
  width: 120px;
  height: 120px;
  background: var(--background-tertiary);
  padding: 24px;
  border-radius: 60px;
}

.home #team {
  background: var(--background-tertiary);
  padding: 30px 70px;
}

.home #team p {
  width: 100%;
  text-align: center;
}

.home #team h4 {
  text-align: center;
}

.home #team .dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.home #team .dev p {
  text-align: center;
  max-width: 600px;
}

.home #team img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .home .sub-container {
    padding: 10px 0;
  }

  .home .container:nth-child(2) {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 1.75rem;
  }

  br {
    display: none;
  }
}
