.slideshow-container {
  position: relative;
  max-width: 630px;
  height: 360px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.centered-image {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  height: 300px;
  width: 100%;
}

.slide {
  display: none;
  width: 100%;
}

.slide.active {
  display: block;
}

.btns {
  position: relative;
  padding: 20px;
  margin: 10px 0;
  gap: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.prev, .next {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 7px 0 0 3px;
  margin: -15px 0;
  color: var(--foreground-secondary);
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  font-size: var(--fs-base);
  transition: 0.5s ease;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: var(--foreground-primary);
  background-color: var(--purple);
}
