.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80%;
}

.banner .banner-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 0.3rem;
  color: var(--foreground-secondary);
}

.banner a:hover {
  color: var(--foreground-primary);
}

.banner fa-icon {
  font-size: var(--fs-4);
}

.banner .stack {
  display: grid;
  grid-template-columns: 1fr;
  color: var(--foreground-primary);
  margin-top: 7rem;
}

.banner .stack h1 {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: calc(var(--fs-1) + 10px);
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.banner .stack h1:nth-child(odd) { --glitch-translate: 8px; }
.banner .stack h1:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 var(--red), 2px -3px 0 var(--blue);
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 var(--red), -2px 3px 0 var(--blue);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 var(--red), 2px -3px 0 var(--blue);
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 var(--red), -2px 3px 0 var(--blue);
  }
  4%, 100% {  text-shadow: none; transform: none; }
}

@media (max-width: 900px) {
  .banner {
    padding: 1rem;
  }
}


