<section class="not-found" id="ops" #scrollMe>
  <div class="stack" style="--stacks: 3;">
    <h1 style="--index: 0;">404 - Page not found</h1>
    <h1 style="--index: 1;">
      404 - Page not found
    </h1>
    <h1 style="--index: 2;">404 - Page not found</h1>
  </div>
  <p>A página que você procura pode ter sido removida, ter seu nome alterado ou estar temporariamente indisponível.</p>
  <a [routerLink]="['/home']" class="btn btn-primary" aria-label="button go to homepage">Voltar para a Home</a>
</section>
